@page "/contacts/addContactForm"

@using Notebook.Domain.Requests
@using System.Text.Json
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@rendermode InteractiveServer

<MudStack Justify="Justify.Center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="mudForm" @bind-IsValid="isValid" Model="@newContact">
                <MudTextField Label="First Name" @bind-Value="newContact.FirstName" For="@(() => newContact.FirstName)"
                    Required="true" RequiredError="First name is required!" />
                <MudTextField Label="Last Name" @bind-Value="newContact.LastName" For="@(() => newContact.LastName)"
                    Required="true" RequiredError="Last name is required!" />
                <MudTextField Label="Phone number" @bind-Value="newContact.PhoneNumber" For="@(() => newContact.PhoneNumber)"
                    Required="true" RequiredError="Phone number is required!" />
                <MudTextField Label="Email" @bind-Value="newContact.Email" For="@(() => newContact.Email)" />
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <div style="display:flex; justify-content: flex-end;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="@((e) => AddContact())">Add</MudButton>
                <div style="margin-left: 1rem;"/>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="@((e) => Back())">Cancel</MudButton>
            </div>
        </MudPaper>
    </MudItem>

    <MudPaper Style="margin-top: 16px; max-width: 100%">
        <MudTable Items="@recentContacts" Bordered="true" Striped="true">
            <ToolBarContent>
                <MudText>Recent contacts:</MudText>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>First Name</MudTh>
                <MudTh>Last Name</MudTh>
                <MudTh>Phone number</MudTh>
                <MudTh>Email</MudTh>
                <MudTh>Date of Birth</MudTh>
            </HeaderContent>

            <RowTemplate>
                @foreach(var contact in recentContacts)
                {
                    <MudTd DataLabel="First Name">@contact.FirstName</MudTd>
                    <MudTd DataLabel="Last Name">@contact.LastName</MudTd>
                    <MudTd DataLabel="Phone number">@contact.PhoneNumber</MudTd>
                    <MudTd DataLabel="Email">@contact.Email</MudTd>
                    <MudTd DataLabel="Data of Birth">@contact.DateOfBirth</MudTd>
                }
            </RowTemplate>
        </MudTable>
    </MudPaper>
</MudStack>

@code
{
    private MudForm mudForm;
    private bool isValid;
    string addContactControllerUri = "/api/contacts/add";
    private ContactForCreateDTO newContact = new ContactForCreateDTO();
    private List<ContactForCreateDTO> recentContacts = new List<ContactForCreateDTO>();

    private async Task Back()
    {
        if (isValid)
        {
            await mudForm.ResetAsync();
        }
        else
        {
            NavigationManager.NavigateTo("/contacts");
        }
    }

    private async Task AddContact()
    {
        var addContactUri = new Uri(httpClient.BaseAddress, addContactControllerUri);
        var response = await httpClient.PostAsJsonAsync(addContactUri, newContact);

        if (response.IsSuccessStatusCode)
        {
            recentContacts.Add(newContact);
            StateHasChanged();

            if(mudForm != null)
            {
                await mudForm.ResetAsync();
            }
        }
    }
}