@page "/contacts/addContactForm"

@using Notebook.Domain.Requests
@using System.Text.Json
@using System.Configuration
@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@inject IConfiguration configuration
@rendermode InteractiveServer

<MudStack Justify="Justify.Center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="mudForm" Model = "newContact">
                <MudTextField @bind-Value="newContact.FirstName" Label="First Name" Required="true" RequiredError="First name is required!" />
                <MudTextField @bind-Value="newContact.LastName" Label="Last Name" Required="true" RequiredError="Last name is required!" />
                <MudTextField @bind-Value="newContact.PhoneNumber" Label="Phone number" Required="true" RequiredError="Phone number is required!" />
                <MudTextField @bind-Value="newContact.Email" Label="Email" />
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <div style="display:flex; justify-content: flex-end;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="@((e) => AddContact())">Add</MudButton>
                <div style="margin-left: 1rem;"/>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="@((e) => Back())">Cancel</MudButton>
            </div>
        </MudPaper>
    </MudItem>

    <MudPaper Style="margin-top: 16px; max-width: 100%">
        <MudTable Items="@recentContacts" Bordered="true" Striped="true">
            <ToolBarContent>
                <MudText>Recent contacts:</MudText>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>First Name</MudTh>
                <MudTh>Last Name</MudTh>
                <MudTh>Phone number</MudTh>
                <MudTh>Email</MudTh>
                <MudTh>Date of Birth</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="First Name">@context.FirstName</MudTd>
                <MudTd DataLabel="Last Name">@context.LastName</MudTd>
                <MudTd DataLabel="Phone number">@context.PhoneNumber</MudTd>
                <MudTd DataLabel="Email">@context.Email</MudTd>
                <MudTd DataLabel="Data of Birth">@context.DateOfBirth</MudTd>
            </RowTemplate>
        </MudTable>
    </MudPaper>
        
</MudStack>


@code
{
    string[] errors = { };
    private MudForm mudForm;
    string addContactControllerUri = "/api/contacts/add";
    private ContactForCreateDTO newContact = new ContactForCreateDTO();
    private List<ContactForCreateDTO> recentContacts = new List<ContactForCreateDTO>();

    private void Back()
    { 
        NavigationManager.NavigateTo("/contacts");
    }

    private async Task AddContact()
    {
        var addContactUri = new Uri(httpClient.BaseAddress, addContactControllerUri);
        var response = await httpClient.PostAsJsonAsync(addContactUri, newContact);

        if(response.IsSuccessStatusCode)
        {
            recentContacts.Add(newContact);
            await mudForm.ResetAsync();
        }
    }
}