@page "/contacts/addContactForm"

@using Notebook.Domain.Requests
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

@rendermode InteractiveServer

<MudStack Justify="Justify.Center">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="_mudForm" @bind-IsValid="_isValid" Model="@_newContact" @bind-Errors="@_errors">
                <MudTextField Label="First Name" @bind-Value="_newContact.FirstName" For="@(() => _newContact.FirstName)"
                    Required="true" RequiredError="First name is required!"
                              Validation="@(new Func<string, IEnumerable<string>>(FirstNameVerification))"/>
                <MudTextField Label="Last Name" @bind-Value="_newContact.LastName" For="@(() => _newContact.LastName)"
                    Required="true" RequiredError="Last name is required!"
                              Validation="@(new Func<string, IEnumerable<string>>(LastNameVerification))"/>
                <MudTextField Label="Phone number" @bind-Value="_newContact.PhoneNumber" For="@(() => _newContact.PhoneNumber)"
                    Required="true" RequiredError="Phone number is required!"
                              Validation="@(new Func<string, IEnumerable<string>>(PhoneNumberVerification))"
                                  OnBlur="@(async () => await PhoneNumberDuplicateVerification(_newContact.PhoneNumber))"/>
                <MudTextField Label="Email" @bind-Value="_newContact.Email" For="@(() => _newContact.Email)"
                    Required="false"
                    Validation="@(new Func<string, IEnumerable<string>>(EmailVerification))"/>
                <MudDatePicker Label="Date of Birth" @bind-Date="_newContact.DateOfBirth" PickerVariant="PickerVariant.Dialog" />
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <div style="display:flex; justify-content: flex-end;">
                <MudButton Variant="Variant.Filled" Color="Color.Surface" DropShadow="false" OnClick="@((e) => _mudForm!.Validate())">Validate</MudButton>
                <div style="margin-left: 1rem;" />
                <MudButton Variant="Variant.Filled" Disabled="@(!_isValid)" Color="Color.Primary" DropShadow="false" OnClick="@((e) => AddContact())">Add</MudButton>
                <div style="margin-left: 1rem;"/>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DropShadow="false" OnClick="@((e) => Back())">Cancel</MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudStack>

<MudTable Items="@_recentContacts">
    <ToolBarContent>
        <MudText>Recently added contacts</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>First Name</MudTh>
        <MudTh>Last Name</MudTh>
        <MudTh>Phone number</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Date of Birth</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="Phone number">@context.PhoneNumber</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Data of Birth">@context.DateOfBirth</MudTd>
    </RowTemplate>
</MudTable>

@code
{
    private MudForm? _mudForm;
    private bool _isValid;
    private bool _uniquePhoneNumber;
    private string[] _errors = { };
    private ContactForCreateDTO _newContact = new ContactForCreateDTO();
    private Uri? _addContactUri;
    private Uri? _getContactUri;

    private List<ContactForCreateDTO> _recentContacts = new();

    protected override async Task OnInitializedAsync()
    {
        const string addContactControllerUri = "/api/contacts/add";
        _addContactUri = new Uri(httpClient.BaseAddress!, addContactControllerUri);

        const string getContactControllerUri = "/api/contacts/getByPhoneNumber";
        _getContactUri = new Uri(httpClient.BaseAddress!, getContactControllerUri);
    }

    private async Task Back()
    {
        if (_isValid)
        {
            await _mudForm!.ResetAsync();
        }
        else
        {
            NavigationManager.NavigateTo("/contacts");
        }
    }

    private async Task AddContact()
    {
        var response = await httpClient.PostAsJsonAsync(_addContactUri, _newContact);

        if (response.IsSuccessStatusCode)
        {
            _recentContacts.Add(_newContact);
            _newContact = new ContactForCreateDTO();
        }
    }

    private IEnumerable<string> FirstNameVerification(string firstNameFromField)
    {
        if(string.IsNullOrWhiteSpace(firstNameFromField))
        {
            yield return "First Name is required!";
            yield break;
        }
        if(firstNameFromField.Length > 30)
        {
            yield return "First Name must not contain more than 30 letters";
        }
        if(!char.IsUpper(firstNameFromField[0]))
        {
            yield return "First Name must start with a capital letter";
        }
    }

    private IEnumerable<string> LastNameVerification(string lastNameFromField)
    {
        if (string.IsNullOrWhiteSpace(lastNameFromField))
        {
            yield return "Last Name is required!";
            yield break;
        }
        if (lastNameFromField.Length > 30)
        {
            yield return "Last Name must not contain more than 30 letters";
        }
        if (!char.IsUpper(lastNameFromField[0]))
        {
            yield return "Last Name must start with a capital letter";
        }
    }

    private IEnumerable<string> PhoneNumberVerification(string phoneNumberFromField)
    {
        if (string.IsNullOrWhiteSpace(phoneNumberFromField))
        {
            yield return "Phone number is required!";
            yield break;
        }
        if (!System.Text.RegularExpressions.Regex.IsMatch(phoneNumberFromField, @"^\d+$"))
        {
            yield return "Phone number must contain only numbers";
            yield break;
        }
        if (phoneNumberFromField.Length > 13)
        {
            yield return "Phone number must not contain more than 13 characters";
        }
        if(_uniquePhoneNumber == false)
        {
            yield return "Phone number must be unique";
        }
    }

    private async Task PhoneNumberDuplicateVerification(string phoneNumberFromField)
    {
        var parameterUrl = $"{_getContactUri}?phoneNumber={phoneNumberFromField}";
        var response = await httpClient.GetAsync(parameterUrl);

        if(response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            _uniquePhoneNumber = false;

            return;
        }

        _uniquePhoneNumber = true;
    }

    private IEnumerable<string> EmailVerification(string emailFromField)
    {
        if (string.IsNullOrWhiteSpace(emailFromField))
        {
            yield return "Email number is required!";
            yield break;
        }
        if (emailFromField.Length > 256)
        {
            yield return "Email number must not contain more than 256 characters";
        }
        if (!System.Text.RegularExpressions.Regex.IsMatch(emailFromField, @"^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"))
        {
            yield return "Email must be in the format: example@gmail.com";
            yield break;
        }
    }
}